/* Icons */
@if $slick-font-family == "slick" {
	@font-face {
		font-family: "slick";
		src: slick-font-url("slick.eot");
		src: slick-font-url("slick.eot?#iefix") format("embedded-opentype"), slick-font-url("slick.woff") format("woff"), slick-font-url("slick.ttf") format("truetype"), slick-font-url("slick.svg#slick") format("svg");
		font-weight: normal;
		font-style: normal;
	}
}

.app-slideshow {
	@include gradient-horizontal(lighten($brand-primary, 10%), $brand-primary);
	padding: $block-height $block-width;
	color: $text-light;

	.fx-mirror {
		transform: rotate(180deg);
	}


	.slick-dots {
		position: absolute;
		bottom: -25px;
		list-style: none;
		display: block;
		text-align: center;
		padding: 0;
		margin: 0;
		width: 100%;
		li {
			position: relative;
			display: inline-block;
			height: 20px;
			width: 20px;
			margin: 0 5px;
			padding: 0;
			cursor: pointer;
			button {
				border: 0;
				background: transparent;
				display: block;
				height: 20px;
				width: 20px;
				outline: none;
				line-height: 0px;
				font-size: 0px;
				color: transparent;
				padding: 5px;
				cursor: pointer;
				&:hover, &:focus {
					outline: none;
					&:before {
						opacity: $slick-opacity-on-hover;
					}
				}
				&:before {
					position: absolute;
					top: 0;
					left: 0;
					content: $slick-dot-character;
					width: 20px;
					height: 20px;
					font-family: $slick-font-family;
					font-size: $slick-dot-size;
					line-height: 20px;
					text-align: center;
					color: $slick-dot-color;
					opacity: $slick-opacity-not-active;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
				}
			}
			&.slick-active button:before {
				color: $slick-dot-color-active;
				opacity: $slick-opacity-default;
			}
		}
	}

	.slick-dots {
		display: none !important;
	}

	.slide a,
	.slide a:hover,
	.slide a:focus {
		color: $text-light;
	}

	.slide .btn {
		border: 3px solid $brand-secondary;
		border-radius: 0px;
		color: $text-light;
	}
	.slide .btn:hover,
	.slide .btn:focus {
		color: darken($text-light, 30%);
		border: 3px solid lighten($brand-secondary,30%);
	}

	.slide-panel-left {
		position: relative;
		top:30px;
		height: 400px;
		background-color: $brand-primary;
		padding-left: 0px;
		padding-right: 0px;

		.slide-bg {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			height: 100%;
			width: 100%;
		}
	}

	.slide-panel-right {
		height: 460px;
		background-color: $brand-primary;
		padding: 30px;
		box-shadow: $shadow-default;

		.line {
			display: block;
			border-top: 3px solid $brand-secondary;
			height: 1px;
			width: 60px;
		}

		.caption {
			margin-top: 30px;
		}
	}

	.prev-slide-container, .next-slide-container {
		height: 460px;
		cursor: pointer;
	}

	.prev-slide-image, .next-slide-image {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		height: 100%;
		opacity: .6;
	}

	.prev-slide-text, .next-slide-text {
		background-color: $brand-primary;
		box-shadow: $shadow-default;
		height: 100%;
		text-align: center;
		position: relative;
	}

	.prev-slide-container {

		.prev-slide-image {

		}

		.prev-slide-text {
			.line {
				border-top: 3px solid #e6c280;
				display: block;
				height: 1px;
				left: 50%;
				position: relative;
				top: 15px;
				transform: rotate(90deg);
				transform-origin: left top 0;
				width: 60px;
			}

			.prev-text {
				display: flex;
				align-items: center;
				transform: rotate(-90deg);
				position: relative;
				bottom: $block-height/2;
				margin: 0 auto;
				top: 380px;
				width: 250px;
				transform-origin: top left;
				text-align: left;
				left: 0;
			}
		}
	}

	.next-slide-container {

		.next-slide-image {

		}

		.next-slide-text {
			.line {
				border-top: 3px solid #e6c280;
				display: block;
				height: 1px;
				left: 50%;
				position: relative;
				top: 15px;
				transform: rotate(90deg);
				transform-origin: left top 0;
				width: 60px;
			}

			.next-text {
				display: flex;
				align-items: center;
				transform: rotate(-90deg);
				position: relative;
				bottom: $block-height/2;
				margin: 0 auto;
				top: 380px;
				width: 250px;
				transform-origin: top left;
				text-align: left;
				left: 0;
			}

		}
	}

	.icon-arrow-box {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		background-image: url(../images/icon-arrow-box.svg);
		width: 30px;
		height: 30px;
		margin-top: $block-height/2;
		display: inline-block;
	}


}




/* X-Small Screen */
@media (max-width: $screen-xs-max) {

}

/* Small Screen */
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

}

/* Medium Screen */
@media (min-width: $screen-md-min) {

}

/* Large Screen */
@media (min-width: $screen-lg-min) {

}

/* X-Large Screen */
@media (min-width: $screen-xlg-min) {

}
